
body > table{
width: 80%;
}
table{
border-collapse: collapse;
}
td, th {
border: 1px solid #DDDDDD;
text-align: left;
padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
background-color: #DDDDDD;
}
input[type=text], input[type=number] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=submit]{
width: 30%;
background-color: #ddd;
color: #000;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
table{
border: 1px solid #000;
margin: 0 auto;
}
form div.form-action-buttons{
text-align: center;
}
form
{
padding: 10px;
border: 1px solid #000;
width: 50%;
margin: 10px auto;
}
form a{
cursor: pointer;
text-decoration: underline;
color: #0000EE;
margin-right: 4px;
}
label.validation-error{
color:   red;
margin-left: 5px;
}
h1{
text-align: center;
text-transform: uppercase;
}
.hide{
display:none;
}